# Ignore build artifacts
*.egg-info/
src/*.egg-info/

# Python cache files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
venv/

# uv lock/cache
uv.lock
.uv-cache/

# OS-specific files
.DS_Store
Thumbs.db

.catboost_info/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
